 body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
} 

.content {
  margin-left: 200px;
} 

.sci-fiContent {
  margin-left: 200px;
} 

.section {
 height: 100vh;
 min-height: 500px;
 
 position: relative;
 width: 100%;
}

.sci-fiSection {
 height: 100vh;
 min-height: 500px;
 
 position: relative;
 width: 100%;
}

.sectionContent {
 width: 800px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
}

.sectionContent > p {
 text-align: center; 
}

.sectionContent > h1 {
 text-align: center;
}

.sci-fiSectionContent {
 width: 800px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.sci-fiSectionContent > p {
 text-align: center; 
}

.sci-fiSectionContent > h1 {
 text-align: center;
}
 
 /*.banner {
  
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50%;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: 7px auto;
  position: relative;
}
 
.bannerText {
  text-align: center;
  color: white;
  
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

h1 {
 margin-top: 50px; 
 
 font-size: 42px;
}

.sideBar {
  position: fixed;
  width: 200px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000000;
  padding: 5px;
}

.sideBarRow {
  text-align: center;
  padding-left: 5px;
  font-size: 15px;
  display: block;
  margin-top: 65px;
}

p {
 font-size: 23px;
 font-family: 'Montserrat';
 margin-bottom: 400 px;
}
  
#indexhome {
 color: #DAC33E;
 font-family: "Montserrat";
}

#logoBlock {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

#indexscifi {
 color: #67D066;
 font-family: "Montserrat";
}

#indexfantasy {
 color: #744BE9;
 font-family: "Montserrat";
}

#indexromance {
 color: #FFBDF5;
 font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

.thumbnail{
    width: 100px;
    height: auto;
    position:relative;
    margin: auto;
 }

 .thumbnail:hover {
     width:125px;
     height:auto;
     z-index:999;
     cursor: pointer;
     -webkit-transition-property: all;
     -webkit-transition-duration: 0.3s;
     -webkit-transition-timing-function: ease;
}

a {
 text-decoration: none;
 color: lightblue;
}

.indexTextMargin {
 margin-top: 0px;
}
#Home{
 background-image: url("homeBackground4.png");
}
#Sci-fi{
  background-image: url("scifiBackground4.png");
}
#Fantasy{
   background-image: url("fantasyBackground4.png");
}
#Romance{
  background-image: url("romanceBackground4.png");
}

h2 {
 text-align: center;
}

#my_iframe {
 position: absolute;
 left: 22%;
 top: 11%;
}

a:link#enterbutton {
 position: absolute;
 top: 103%;
 left:40%;
 text-decoration: none;
 color: darkgreen;
 background-color: inherit;
 padding: 2px 6px 2px 6px;
 border-top: 1px solid #CCCCCC;
 border-right: 1px solid #333333;
 border-bottom: 1px solid #333333;
 border-left: 1px solid #CCCCCC;
}

a:hover#enterbutton {
 position: absolute;
 top: 103%;
 left:40%;
 text-decoration: none;
 color: white;
 background-color: black;
 padding: 2px 6px 2px 6px;
 border-top: 1px solid #CCCCCC;
 border-right: 1px solid #333333;
 border-bottom: 1px solid #333333;
 border-left: 1px solid #CCCCCC;
}
 
