body {
  width: 550px;
  margin: auto;
}

.content {
  margin: auto;
}

.banner {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100px;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
}
  

h1 {
  width: 100px;
  margin: auto;
}

.sideBar {
  position: fixed;
  width: 100px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #BDBDBD;
  padding: 5px;
}

.sideBarRow {
  position: fixed;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 15px;
  display: block;
}
    
